$width: 100vw;
$height: 100vh;
$green: rgb(0, 26, 0);
$blue: rgb(0,0,102);
$cellSize: $width / 150;


.border {
  border: 1px solid darken($green, 10%);
}
.buttonBorder {
  border: 1px solid lighten($green, 10%);
}
.shadow {
  box-shadow: 2px 2px $green;
}

#container {
  width: $width;
  height: $height;
  display: grid;
  grid-template-rows: 6% 18% 60% 5% 11%;
  grid-template-columns: 5% 90% 5%;
  color: lighten($green,15%);
  font-size: $width / 80;
  background-color: darken($green, 15%)
}
#wrapper{
  display: grid;
  grid-template-columns: repeat(80, $cellSize);
  grid-template-rows: repeat(50, $cellSize);
    div {
      @extend .border;
    }
}
#middle {
  display: flex;
}

.oldCell {
  background-color: $blue;
}
.newCell {
  background-color: lighten($blue, 35%);
}
.deadCell {
  background-color: $green;
}
.exampleCell {
  width: $cellSize;
  height: $cellSize;
  @extend .buttonBorder;
}
#old {
  @extend .oldCell;
  @extend .exampleCell;
}
#new {
  @extend .newCell;
  @extend .exampleCell;
}
#dead {
  @extend .deadCell;
  @extend .exampleCell;
}
#example {
  display: flex;
  align-items: center;
}
#header {
  font-size: $width / 30;
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  justify-content: center;
}
#top {
  grid-row-start: 2;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 10% 45% 30% 15%;
  grid-template-rows: 50% 50%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  div {
    @extend .buttonBorder;
    border-radius: $width / 100;
    padding: $width / 180;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.selected {
}
#speedButtons {
  @extend .buttons;
  flex-direction: column;
  div {
    width: $width / 20;
    justify-content: center;
    align-self: center;
  }
}
#controls{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  display: grid;
  grid-template-rows: 25% 65% 10%;
}
#innerControls {
  @extend .buttons;
  grid-row-start: 2;
  display: flex;
}
#middle {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
#generation {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 25% 75%;
}
#innerGeneration {
  grid-column-start: 2;
  grid-row-start: 2;
}
#middle {
  display: grid;
  grid-template-columns: 25% 3% 55% 2% 15%;
}
#left {
  grid-column-start: 1;
  font-size: $width / 90;
}
#speed {
  grid-column-start: 5;
  grid-column-end: 6;
  display: grid;
  grid-template-rows: 5% 25% 8% 7% 2% 35% 15%;
  grid-template-columns: 100%;
}
#cellTypes {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#speedLabel {
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
}
#speedButtons {
  grid-row-start:6;
  grid-row-end:7;
}
#text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.innerHeader {
  text-align: center;
  font-size: $width / 80;
}
#link {
  text-align: center;
}
