.border, #wrapper div {
  border: 1px solid black; }

.buttonBorder, .exampleCell, #old, #new, #dead, .buttons div, #speedButtons div, #innerControls div, #speed div {
  border: 1px solid #004d00; }

.shadow {
  box-shadow: 2px 2px #001a00; }

body {
  background-color: black; }

#container {
  width: 100vw;
  min-width: 750px;
  height: 100vh;
  min-height: 300px;
  display: grid;
  grid-template-rows: 6% 12% 64% 11% 5%;
  grid-template-columns: 3% 92% 5%;
  color: #006700;
  font-size: 1.25vw; }

#wrapper {
  grid-column-start: 3;
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-template-rows: repeat(50, 1fr); }

.oldCell, #old {
  background-color: #000066; }

.newCell, #new {
  background-color: #1a1aff; }

.deadCell, #dead {
  background-color: #001a00; }

.exampleCell, #old, #new, #dead {
  width: 0.66667vw;
  height: 0.66667vw; }

#example {
  display: flex;
  align-items: center; }

#header {
  font-size: 3.33333vw; }

#top {
  grid-row-start: 2;
  grid-column-start: 2; }

.buttons, #speedButtons, #innerControls, #speed {
  display: flex;
  justify-content: space-around; }
  .buttons div, #speedButtons div, #innerControls div, #speed div {
    border-radius: 1vw;
    padding: 0.55556vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-self: stretch; }

#speedButtons {
  flex-direction: column; }
  #speedButtons div {
    width: 5vw;
    justify-content: center;
    align-self: center; }

#controls {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2; }

#innerControls {
  display: flex;
  flex-direction: column;
  grid-row-start: 2; }
  #innerControls div {
    display: flex;
    justify-content: center; }

#middle {
  min-height: 240px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 15% 3% 55% 2% 25%;
  grid-template-rows: 100%; }

#left {
  grid-column-start: 1;
  font-size: 1.11111vw;
  display: grid;
  grid-template-rows: 8% 27% 12% 35%  8%; }

#speedLabel {
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center; }

#speedButtons {
  grid-row-start: 6;
  grid-row-end: 7; }

#text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column-start: 5; }

.innerHeader {
  text-align: center;
  font-size: 1.25vw; }

#link {
  text-align: center; }

#speed {
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  #speed div {
    justify-content: center;
    display: flex; }

#cellTypes {
  display: grid;
  grid-template-columns: 3fr 8fr 5fr;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2; }
  #cellTypes div {
    grid-column-start: 2;
    display: flex;
    justify-content: space-between; }
